[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    dfc = diff --cached
    loga = log --all --oneline --graph --decorate
    logo = log --oneline --graph --decorate
    ls = ls-files
    onto = rebase --onto
    rog = reflog
    st = status
[merge]
    ff = true
[pull]
    ff = only
