[user]

[alias]
    br = branch
    ci = commit
    co = checkout
    ls = ls-files
    loga = log --oneline --all --graph --decorate
    logo = log --oneline
    rog = reflog
    st = status
[merge]
    ff = true
[pull]
    ff = only
